<%= form_with(model: team, include_id: false) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="col  mb-2">
      <div class="card" style="width: 36rem;">
        <div class="card-body">
            <%= form.label :name %>
            <%= form.text_field :name %>
            <%= form.label :email %>
            <%= form.text_field :email %>
            <%= form.hidden_field :code %>
          <button type="submit" class="btn btn-primary mb-2">Simpan</button>
        </div>
      </div>
    </div>

  </form>
<% end %>
