<p style="color: green"><%= notice %></p>

<%= render @transaction_history %>

<div>
  <%= link_to "Edit this transaction history", edit_transaction_history_path(@transaction_history) %> |
  <%= link_to "Back to transaction histories", transaction_histories_path %>

  <%= button_to "Destroy this transaction history", @transaction_history, method: :delete %>
</div>
